<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto Coder</title>
</head>
<body>
    <h1>Bienvenidos a mi primera web</h1>
    <p>Soy {{nombre}} {{apellido}}, tengo {{edad}}.Basicamente me encuentro creando mi primera web con Python y Django.</p>

    <img 
    style="max-width: 500px;"
    src="https://i.redd.it/wmf4pf98d4l61.png" 
    alt=""/>

    <p>&#128640; Gracias por ver el proyecto! &#128640;</p>
    <p>Pagina abierta a la fecha: {{fecha}}</p>

    <script>
        alert("Hace click en 'Aceptar' para continuar")
    </script>
</body>
</html>